

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <a href="/">Home</a>
    <a href="/product">Product</a>
    <a href="/cart">Cart</a>
    <a href="/users/logout">Logout</a>

    <h1><%= title %></h1>
</nav>

<h3>Hi,<%= user %>!</h3>