

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<nav class="navbar navbar-dark bg-warning">
    <a class = "text-white font-weight-bold" href="/">Home</a>
    <a class = "text-white font-weight-bold" href="/product">Product</a>
    <a class = "text-white font-weight-bold" href="/cart">Cart</a>
    <a class = "text-white font-weight-bold" href="/laporan">Laporan</a>
    <a class = "text-white font-weight-bold" href="/settings">Settings</a>
    <a class = "text-white font-weight-bold" href="/users/logout">Logout</a>

    <h1><%= title %></h1>
</nav>

<h3 class="ml-3 mt-3 p-3 mb-2 bg-secondary text-white">Hi,<%= user %>!</h3>