<!DOCTYPE html>
<html lang="en">
    <%- include('partials/navbar.ejs',{title : "Register"})%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <% if(error) { %>
        <% error.forEach(el=>{ %>
            <p class="alert alert-danger"><%=el%></p>
       <% })%>
        
    <%}%>
    <form action="" method="post" class = "col-sm-6 col-m-4 col-xs-6 col-xl-3 m-2 align-self-center">
        <div class="form-group">
            <label> Name</label>
            <input type="text" class="form-control form-group" name="name" placeholder="e.g John Doe">
        </div>

        <div class="form-group">
            <label> Username </label>
            <input type="text" class="form-control form-group" name="username" placeholder="e.g johndoe">
        </div>

        <div class="form-group">
            <label> Password </label>
            <input type="password" class="form-control form-group" name="password">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</body>
</html>